body {
  background-color: #F2F2F2;
}

#content {
  background-color: #FFF9F9;
  max-width: 50%;
  margin: 100px auto;
  border-radius: 10px;
}

header,
footer {
  background-color: #040B4A;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: white;

}

h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 2.5em;
}

img {
  float: right;
  margin-right: 10px;
}

main {
  padding: 20px;
}

hr {
  width: 60%;
  border: 2px solid red;
  margin-left: 0;
}

.BYUI{
  color: white;
}

.lastp {
  color: yellow;
}