@media only screen and (min-width: 64rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section1 {
    grid-column-end: 1/1;
  }

  .section2 {
    grid-column-start: 2/2;
  }

  .section3 {
    display: block;
    grid-column-start: 3/3;
  }

  .content{
    max-width: 70%;
  }

}