@media only screen and (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

main, footer {
  max-width: 80%;
  margin: auto;
}
  .pancakes {
    font-size: 1em;
  }

  .pancakes button {
    font-size: .7em;
    top: 1em;
    right: 2.5em;
  }

  h1 {
    font-size: 1.5em;
  }
  
  .prestontitle{
    font-size: 2.5em;
  }
  

  picture {
    flex: 0 0 10%;
  }

  article {
    display: flow-root;
    margin: 1.25em;
    padding: 1.25em;
    font-size: .8em;
  }

  .forecast {
    display: block;
    text-align: center;
  }

  table,
  th,
  td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 2em;
    text-align: center;
    font-size: 1rem;
  }

  article {
    margin-top: 2.8em;
  
      margin-left: 0;
      margin-right: 0;
    
  }

  article picture {
    max-width: 30%;
    float: right;
    margin: 0 0 0 1.5em;
    justify-self: center;
  }

  article p {
    display: flow-root;
  }

  .hero section {
    font-size: 1em;
  }

  .contact {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
  }

  .contact h3 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  iframe {
    grid-row: 2/-1;
    grid-column: 1/2;
    justify-self: center;
  }



  .contactinfo {
    grid-column: 2/-1;
    grid-row: 2/3;
    font-size: 1em;
    padding-left: 2em;
  }

  .contact ul{
    grid-row: 3/-1;
    grid-column: 2/-1;
    justify-content: left;
    padding-left: 3em;
  }
 
  .contact h4 {
    margin: 0 0 0.3em;
    font-size: 1.3em;
    font-weight: bolder;
  }

}