@media only screen and (min-width: 64rem) {
  h2 {
    font-size: 5em;
  }

  p {
    font-size: 2em;
  }

  /* ***********************Get ready section********************************************************* */

  .grImgs {
    display: flex;
    justify-content: space-around;

  }

  /* ***********************Weather Information Section********************************************************* */


  .weatherInfo {
    max-width: 65%;
  }

  .weatherInfo li {
    font-size: 2em;
  }

  /* ***********************Tour Options Section********************************************************* */

  .tourOptions {

    max-width: 65%;
  }


  .tourOption img {
    margin: 2em;
    width: fit-content;
  }

  .tourOption button {
    font-size: 2em;
    grid-column: 1/2;
  }

  /* ***********************Footer********************************************************* */
  /* +++++++++++++++++++++++  RENTALS +++++++++++++++++++++++++++ */
  /* ************* Table ************ */
  table {
    font-size: 2em;
  }

  /* +++++++++++++++++++++++  RESERVATIONS +++++++++++++++++++++++++++ */
  /* ------------- FORM ------------- */
  form {
    max-width: 50%;
    font-size: 1.5em;
  }



  /* +++++++++++++++++++++++  contact +++++++++++++++++++++++++++ */

  .locations {
    display: flex;
    max-width: 65%;
    margin: auto;
  }
}