body {
  font-size: 1rem;
}

header {
  display: none;
}

h2 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 5em;
  color: rgba(34, 139, 34, 1);
  margin: 0;
}

p {
  font-family: 'Do Hyeon', sans-serif;

}

.nav {
  background-color: rgba(0, 100, 0, .7);
  list-style-type: none;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.nav li {
  flex: 1 1 100%;
}

.nav a {
  text-decoration: none;
  color: white;
}


nav ul li.active {
  background-color: rgba(0, 0, 0, .5);
}

nav ul li:hover {
  display: block;
  background-color: #7DCE82;
}

.nav li:first-child {
  display: none;
}

.hero {
  position: relative;
}

.heroImg img {
  max-width: 100%;
  opacity: .7;
}

.heroText {
  font-size: 7vw;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30%;
  left: 10%;
  color: black;
  -webkit-text-stroke: .5px #556B2F;
  text-shadow: 0px 5px 7px #00000029;
}

.logo {
  position: absolute;
  width: 25vw;
  top: 10%;
  right: 8%;

}

.bttHero {
  position: absolute;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: brightness(150%);
  border-radius: 1em;
  font-size: 3vw;
  padding: .5em;
  bottom: 25%;
  right: 10%;
}

.bttHero a {
  text-decoration: none;
  color: black;
  display: block;
  font-family: 'Black Han Sans', sans-serif;
}

.bttHero:hover {
  border: 2px solid white;
}

.getReady {
  margin: auto;
  max-width: 65%;
}

/* ***********************Weather Information Section********************************************************* */

.weatherMargin {
  background-color: rgba(224, 255, 255, 1);
}

.weatherInfo {
  margin: 3em auto;
  max-width: 65%;
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  text-align: center;
}

.weatherInfo li {
  list-style-type: none;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2em;
}

.currentConditions {
  margin: 0 0 4em 0;
}

#weatherIcon {
  filter: drop-shadow(2px 4px 6px rgba(0, 100, 0, 1)) brightness(150%);
  display: block;
  margin: auto;
  width: 100%;
}

/* ***********************Get ready section********************************************************* */
.getReady {
margin: 3em auto;
}

.grImgs {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family:'Do Hyeon', sans-serif;  
  font-size: 2em; 
}

.grImgs figure:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 100, 0, .5);

}

.getReady a{
  display: block;
  text-align: end;
  font-family:'Do Hyeon', sans-serif;
  font-size: 2em;
  margin-top: 1em;
}


/* ***********************Tour Options Section********************************************************* */

.tourOptions {
  margin: auto;
  max-width: 65%;
}

.tourOptions img {
  float: left;
  width: 350px;
}

.tourOptions img:nth-child(even) {
  float: right;
}

.tourOptions h2 {
  clear: both;
}

.tourOptions button {
  background-color: red;
  margin: auto;
}

/* ***********************Footer********************************************************* */

footer {
  clear: both;
  background-color: red;
}