@media only screen and (min-width: 64rem) {
  /*   body {
    font-size: 1.25rem;
  } */

  main,
  footer {
    max-width: 80%;
    margin: auto;
  }

  .pancakes {
    font-size: 1em;
  }

  .pancakes button {
    font-size: .7em;
    top: 1em;
    right: 2.5em;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  nav {
    max-width: 80%;
  }

  .prestontitle {
    font-size: 2.5em;
  }

  header {
    justify-content: center;
  }

  header picture {
    flex: 0 0 auto;
    height: 5em;
  }

  header picture img {
    width: auto;
    height: 100%;
  }

  article {
    display: flow-root;
    margin: 1.25em;
    padding: 1.25em;
  }

  .forecast {
    display: block;
    text-align: center;
  }

  table,
  th,
  td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 2em;
    text-align: center;
    font-size: 1rem;
  }

  article {
    margin-top: 2.8em;

    margin-left: 0;
    margin-right: 0;

  }

  .hero section {
    font-size: 1em;
  }

  .contact {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
  }

  .contact h3 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  iframe {
    grid-row: 2/-1;
    grid-column: 1/2;
    justify-self: center;
  }



  .contactinfo {
    grid-column: 2/-1;
    grid-row: 2/3;

    padding-left: 2em;
  }

  .contact ul {
    grid-row: 3/-1;
    grid-column: 2/-1;
    justify-content: left;
    padding-left: 3em;
  }

  .contact h4 {
    margin: 0 0 0.3em;
    font-size: 1.3em;
    font-weight: bolder;
  }

  /************************* Gallery *************************/

  .gallery {

    grid-template-columns: repeat(3, minmax(300px, auto));

  }

  .gallery figure:hover {
    box-shadow: 0px 0px 10px 10px rgba(64, 98, 187, .3);
  }

  /* ------------- FORM ------------- */
  form {
    max-width: 60%;
    font-size: 2em;
  }


  /************************* Home *************************/
  .towns {
    font-size: 1.5em;
    grid-template-columns: 1fr;

  }

  .towns section {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .town section img {
    flex: 0 1;
  }

  .towns section:nth-child(3) {
    flex-direction: row-reverse;
  }

  .towns section img {
    display: inline;
    max-width: 50%;
    margin: 0;
  }

}